* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url('./bg.png') no-repeat top center;
  overflow: hidden
}

#header {
  position: relative;
  margin-bottom: 4vh;
  margin-top: 3vh;
}

#header h1 {
  font-size: 5vh;
  color: white;
  text-align: center;
  text-shadow: 0.3vw 0.6vh #5d5d5d
}

main {
  display: flex;
  min-width: 1024px;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0.125rem 0.125rem 0;
}

.column {
  flex: 3;
}

.column:nth-child(2) {
  flex: 5;
  margin: 0 0.125rem 0.1875rem;
}

;

#barHorizontal {
  margin-top: 30px;
}